* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #868e96;
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: center;
}

.bold {
  font-weight: bold;
}

a {
  color: #868e96;
}

.image-outer {
  display: grid;
  height: 100%;
}

.image-inner {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
